.input {
  font-size: 17px;
  width: 100%;
  margin-bottom: 40px;
  padding: 3px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--gray);
}

.input::placeholder {
  color: var(--gray);
}

.input:focus {
  border-bottom: 1px solid #000;
}
