@import-normalize;

* {
  box-sizing: border-box;
}

:root {
  --gray: #979797;
  --purple: #4d4db4;
  --red: #ef0000;

  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}
